<!DOCTYPE html>
<html lang="fr"
	xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8">
    <title>Test inscription app</title>
</head>
<body>

<div class="container">
    <div class="test">
        <h1 class="text-center"> Test inscription </h1>
        <a href="login">Connexion</a><br>        
        <a th:href="@{/register}">Inscription</a>        
    </div>
</div>

</body>
</html>