<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>connexion</title>
</head>
<body>

	<div class="container">
	
		<div th:if="${param.error}">
            <div class="alert alert-danger">E-mail ou mot de passe invalide.</div>
        </div>        

		<form th:action="@{/login}" method="POST">

			<div class="form-group mb-3">
				<label class="control-label"> E-mail</label> <input type="text"
					id="username" name="username" class="form-control"
					placeholder="Entrer une adresse mail" />
			</div>
			<div class="form-group mb-3">
				<label class="control-label">Mot de passe</label> 
				<input type="password" id="password" name="password" class="form-control"
					placeholder="Entrer votre mot de passe" />
			</div>
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<div class="form-group mb-3">
				<button type="submit" class="btn">Connexion</button>
				<span> Vous n'êtes pas inscrit ? <a th:href="@{/register}">Page
						d'inscription</a>
				</span>
			</div>
		</form>

	</div>

</body>
</html>