<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inscription</title>
</head>
<body>

	<div class="container">
		<div class="test">
			<h1 class="text-center">Formulaire inscription</h1>

			<div th:if="${param.success}">
				<div class="alert alert-info">Vous vous êtes inscrit avec succès.</div>
			</div>

			<form th:action="@{/register/save}" th:object="${user}" method="post">

				<div class="form-group mb-3">
					<label class="form-label">Prénom</label> <input
						class="form-control" id="firstName" name="firstName"
						placeholder="Entrer votre prénom" th:field="*{firstName}"
						type="text" />
					<p th:errors="*{firstName}" class="text-danger"
						th:if="${#fields.hasErrors('firstName')}"></p>
				</div>

				<div class="form-group mb-3">
					<label class="form-label">Nom</label> <input class="form-control"
						id="lastName" name="lastName" placeholder="Entrer votre nom"
						th:field="*{lastName}" type="text" />
					<p th:errors="*{lastName}" class="text-danger"
						th:if="${#fields.hasErrors('lastName')}"></p>
				</div>
				<div class="form-group mb-3">
					<label class="form-label">E-mail</label> <input
						class="form-control" id="email" name="email"
						placeholder="Entrer votre adresse mail" th:field="*{email}"
						type="email" />
					<p th:errors="*{email}" class="text-danger"
						th:if="${#fields.hasErrors('email')}"></p>
				</div>
				<div class="form-group mb-3">
					<label class="form-label">Mot de passe</label> <input
						class="form-control" id="password" name="password"
						placeholder="Entrer un mot de passe" th:field="*{password}"
						type="password" />
					<p th:errors="*{password}" class="text-danger"
						th:if="${#fields.hasErrors('password')}"></p>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" type="submit">Valider</button>
					<span>Déjà inscrit ? <a th:href="@{/login}">Cliquer ici</a></span>
				</div>
			</form>


		</div>
	</div>

</body>
</html>