<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List of users</title>
</head>
<body>

	<div class="container">
	<h1>Liste des utilisateurs</h1>
	
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>E-mail</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}" >
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.email}"></td>
				</tr>
			</tbody>
		</table>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Déconnexion</a>
                </li>
            </ul>
        </div>

	</div>


</body>
</html>